
body{
    background-color: #F5F5F1;

}

.card{
    padding: 5px 10px;
    width: calc(100% / 3);
   border:none;
   cursor:pointer;
   margin-top: 10px;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}

.cool{
    font-family: 'Alegreya', serif;
font-family: 'Domine', serif;
}